.home {
  background: linear-gradient(115deg, $color-1 10%, transparent 100%);
  width: 100%;
  min-height: 90vh;

  position: relative;
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    height: 100%;
    width: inherit;
    background: url("../../image/proc.jpg") no-repeat center/cover;
    z-index: -1;
    filter: brightness(50%);
  }

  .content {
    position: absolute;
    top: 20%;
    left: 13%;
    font-family: $font-1;

    h1 {
      width: 100%;
      font-size: 4rem;
      font-family: $font-2;
      color: $color-5;
      animation: typing 3s steps(22), blink 0.5s step-end infinite alternate;
      white-space: nowrap;
      overflow: hidden;
    }

    @keyframes typing {
      from {
        width: 0;
      }
    }

    @keyframes blink {
      50% {
        border-color: transparent;
      }
    }

    @import url("https://fonts.googleapis.com/css?family=Roboto:700");
    @keyframes showTopText {
      0% {
        transform: translate3d(0, 100%, 0);
      }
      40%,
      60% {
        transform: translate3d(0, 50%, 0);
      }
      100% {
        transform: translate3d(0, 0, 0);
      }
    }
    @keyframes showBottomText {
      0% {
        transform: translate3d(0, -100%, 0);
      }
      100% {
        transform: translate3d(0, 0, 0);
      }
    }

    h2 {
      font-size: 2.5rem;
      padding: 1.5rem 0 7rem;
      color: $color-3;
      text-shadow: 1px 4px 1px $black;
    }
  }
}
@media screen and (max-width: 850px) {
  .homeContent {
    width: 100%;
    margin: 0 !important;
  }
}
@media screen and (max-width: 580px) {
  .homeContent {
    &:after {
      background: url("../../image/proc.jpg") no-repeat 60% 50% / cover !important;
    }
    h1 {
      font-size: 3rem !important;
    }
    h2 {
      font-size: 1.8rem !important;
    }
  }
}
@media screen and (max-width: 350px) {
  .homeContent {
    &:after {
      background: url("../../image/proc.jpg") no-repeat 60% 50% / cover !important;
    }
    h1 {
      font-size: 2.2rem !important;
    }
    h2 {
      font-size: 1.3rem !important;
    }
    .pdf {
      a {
        font-size: 1.2rem !important;
        padding: 0.8rem 0.7rem !important;
      }
    }
  }
}
