.Product {
  .produitContent {
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
      "1"
      "2";
  }

  .radioDisplay {
    grid-area: 1;
    border-radius: $borderRadius;
    display: flex;
    width: 100%;
    padding: 1rem 2rem;
    margin: 0 auto;
    background: $color-1;
    user-select: none;
    box-shadow: $shadow;
    li {
      display: flex;
      position: static;
      color: $color-3;
      font-size: 1.1rem;
      text-transform: uppercase;
      padding: 0px 3rem;
      @include verticalCenter;

      input[type="radio"] {
        visibility: hidden;
        position: relative;

        &:before {
          content: "";
          visibility: visible;
          position: absolute;
          top: -3px;
          left: -22px;
          height: 0.9rem;
          width: 0.9rem;
          border-radius: 50%;
          border: 2px solid $color-4;
          cursor: pointer;
          transition: 0.3s;
        }
        &:after {
          content: "";
          visibility: visible;
          position: absolute;
          margin-left: -13px;
          margin-top: 0.5px;
          height: 0.9rem;
          width: 0.9rem;
          border-radius: 50%;
          cursor: pointer;
          transition: 0.3s;
          background: $color-4;
          transform: scale(0);
          transform-origin: left;
        }
      }
      input:checked:after {
        transform: scale(1.17) translate(-25%, -25%);
        top: 1px;
        left: -6px;
      }
      input:checked + label {
        color: $color-4;
      }
      label {
        cursor: pointer;
      }
    }
  }
  .projects {
    grid-area: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .project {
      background: $color-2;
      border-radius: $borderRadius;
      margin: 2.8rem 0 0 2px;
      text-align: center;
      width: 17%;
      height: 500px;
      padding: 0.4rem;
      box-shadow: $shadow;
      display: grid;
      grid-template-rows: 55% 18% 15% 15%;
      grid-template-areas:
        "A"
        "B"
        "C"
        "D";
    }
    h3 {
      grid-area: A;
      font-family: $font-2;
      font-size: 1.65rem;
      @include verticalCenter;
      justify-content: center;
    }
    img {
      grid-area: B;
      margin: 0 auto;
      width: 100%;
      height: 100%;
      box-shadow: 0 2px 6px #333;
      border-radius: 25px;
      cursor: pointer;
      @include verticalCenter;
    }
    h4 {
      grid-area: C;
      font-family: $font-2;
      font-size: 1.5rem;
      @include verticalCenter;
      justify-content: left;
    }
    h5 {
      grid-area: D;
      color: $color-1;
      font-size: 1.2rem;
      @include verticalCenter;
      justify-content: left;
    }
    .infos {
      grid-area: D;
      color: $color-4;
      cursor: pointer;
      font-size: 1.8rem;
      @include verticalCenter;
      &:hover {
        transform: scale(0.9);
      }
    }
    .showModel {
      position: absolute;
      top: 1;
      left: 1;
      bottom: 1;
      right: 1;
      background: rgba(0, 0, 0, 0.507);
      border-radius: $borderRadius;
      animation: popup 0.3s ease forwards;
      transform-origin: center;

      .modelContent {
        position: relative;
        top: 15%;
        width: 600px;
        margin: 0 auto;
        color: $color-5;
        background: $color-3;
        border-radius: $borderRadius;
        padding: 2rem;
        box-shadow: 0 10px 10px #333;
        animation: popup 0.6s ease forwards;
        transform: scale(2);
        transform-origin: center;

        @keyframes popup {
          to {
            transform: scale(1);
          }
        }
      }
      .head {
        display: flex;
        justify-content: space-around;
        margin: 1rem 0;
      }
      h2 {
        text-align: left;
        font-size: 1.8rem;
        width: 60%;
        margin-bottom: 1rem;
      }
      .button {
        cursor: pointer;
        color: rgb(255, 255, 255);
        background: $color-1;
        justify-content: center;
        @include verticalCenter;
        border-radius: $borderRadius;
        padding: 0.3rem;
        &:hover {
          background: $color-4;
        }
      }
      .text {
        color: red;
        text-align: justify;
        padding-bottom: 1rem;
        width: auto;
      }
      .return {
        margin: 1rem auto;
        width: 80px;
      }
    }
  }
}
@media screen and (max-width: 1950px) and (min-width: 1609.5px) {
  .portfolioContent {
    grid-template-rows: 97.99% 1fr !important;

    .showModel {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      .modelContent {
        width: 50% !important;
      }
    }
  }
}
@media screen and (max-width: 1609.5px) and (min-width: 1100px) {
  .radioDisplay {
    li {
      display: flex;
      position: static;
      color: $color-3;
      font-size: 1rem;
      text-transform: uppercase;
      padding: 0px 4rem !important;
      @include verticalCenter;
    }
  }
  .portfolioContent {
    grid-template-rows: 97.99% 1fr !important;
    .project {
      width: 30% !important;
      i {
        font-size: 1rem;
      }
    }
    .showModel {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      .modelContent {
        width: 60% !important;
      }
    }
  }
}
@media screen and (max-width: 1100.5px) and (min-width: 650px) {
  .radioDisplay {
    li {
      display: flex;
      position: static;
      color: $color-3;
      font-size: 1rem;
      text-transform: uppercase;
      padding: 0px 2rem !important;
      @include verticalCenter;
    }
  }
  .portfolioContent {
    grid-template-rows: 97.99% 1fr !important;
    .project {
      width: 30% !important;
      i {
        font-size: 1rem;
      }
    }
    .showModel {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      .modelContent {
        width: 75% !important;
      }
    }
  }
}
@media (max-width: 650px) and (min-width: 521px) {
  .portfolioContent {
    grid-template-rows: 1fr !important;
    .project {
      width: 100% !important;
      i {
        font-size: 1rem;
      }
    }
    .modelContent {
      width: 100% !important;
    }
  }
}
@media screen and(max-width: 530px) {
  .radioDisplay {
    li {
      display: flex;
      position: static;
      color: $color-3;
      font-size: 1rem;
      text-transform: uppercase;
      padding: 0px 1.5rem !important;
      @include verticalCenter;
    }
  }

  .portfolioContent {
    grid-template-rows: 1fr !important;
    .modelContent {
      width: 100% !important;
    }
    .project {
      width: 100% !important;

      i {
        font-size: 1rem;
      }
    }
  }
}
@media screen and(max-width: 470px) {
  .radioDisplay {
    li {
      display: flex;
      position: static;
      color: $color-3;
      font-size: 1rem;
      text-transform: uppercase;
      padding: 0px 1.5rem !important;
      @include verticalCenter;
    }
  }

  .portfolioContent {
    grid-template-rows: 1fr !important;
    .modelContent {
      width: 100% !important;
    }
    .project {
      width: 100% !important;

      i {
        font-size: 1rem;
      }
    }
  }
}
