.contraint {
  display: flex;
  background-image: url(../image/fond_.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}
